body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: yellow;
  font-family: "Lato", sans-serif !important;
}

.bodygraph{
  background:red;
}
.bodygraph h1{
  color:white;
  margin-bottom: 50px;
  text-decoration: underline;
}

.bodygraph a{
  text-decoration: none;
  text-align: center;
  margin-top:20px;
  font-size: 20px;
  width:100px;
  
}
.chart{
height:100%;
display:flex;
justify-content: center;
align-items: center;
}
.graphique{
  text-decoration: none;
  font-size: 20px;
  padding-block:10px;
}
.bloclogin {
  background-color: red;
  width: 80%;
  margin: auto;
  position: relative;
}

.btnwhite {
  padding: 5px;
  background: white;
  display: inline-block;
  margin-bottom: 10px;
  border-radius: 5px;
}

.bloclogin a {
  text-decoration: none;
  color: red;
  width: 85px;
}
.white {
  background: white;
  width: 50%;
}
.white img {
  width: 100%;
  height: 100%;
}
.picture {
  background-image: url("pictures/MyLifeMyDiet_positive.jpg");
  width: 80%;
  height: 50vh;
  background-size: cover;
  background-position: center;
  margin: auto;
}
.inscription {
  width: 50%;
  padding-left: 50px;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
form {
  height: max-content;
  width: 55%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: red;
  width: 80%;
  color: white;
  justify-content: center;
  padding-block: 25px;
  align-items: center;
}

.form input {
  margin-bottom: 20px;
}
.form h2 {
  text-align: center;
  color: white;
}

.btnred {
  background: white;
  color: red;
  border: none;
  padding: 5px;
  border-radius: 5px;
  margin-block: 2px;
}

.btnfillred {
  background: red;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 5px;
  margin-block: 5px;
}

.account {
  margin-top: 20px;
  margin-bottom: 20px;
}
.account form {
  width: 80%;
}
.account .left {
  width: 40%;
  background: red;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  color: white;
}

input,
select {
  margin-bottom: 15px !important;
  margin-top: 5px !important;
}
.account .right {
  width: 60%;
}
.account .right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer {
  background: red;
  margin-top: 15px;
  font-size: 10px;
  color: white;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-top: 15px;
  bottom: 0;
}

footer .mentions {
  width: 30%;
  margin: auto;
  text-align: center;
}
footer img {
  width: 35px;
  height: 35px;
}

@media (max-width: 700px) {
  .result h2 {
    color: white;
  }
  .imc h2 {
    font-size: 15px !important;
    text-align: center;
    color: red;
  }
  .metabolisme h2 {
    color: red;
    text-align: center;
    font-size: 12px;
  }
  .desk {
    display: none;
  }

  .renseignements {
    background: red;
  }

  .navdesktop {
    display: none;
  }
  /* Sidenav menu */
  .sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background: white;
    color: red;
    padding-top: 60px;
    transition: left 0.5s ease;
  }

  /* Sidenav menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  .sidenav li {
    border: 1px solid white;
    background: radial-gradient(red, rgb(221, 143, 143));
  }
  .sidenav a:hover {
    color: white;
  }

  .sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  /* Active class */
  .sidenav.active {
    left: 0;
  }

  /* Close btn */
  .sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    color: red;
  }

  /* Icône burger */
  .burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: red;
    margin: 6px 0;
  }

  .burger-icon {
    position: absolute;
    right: 2%;
    top: 2%;
  }

  .renseignements {
    position: relative;
    color: white;
    padding-left: 10px;
    padding-block: 10px;
    font-size: 15px;
  }

  .headerpicture img {
    width: 100%;
    height: 100%;
  }

  .renseignementsbtn {
    display: flex;
    margin: auto;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .renseignements button {
    width: 200px;
  }
  .imgimc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  .imgimc img {
    width: 60%;
    margin-bottom: 10px;
  }

  .imc h2 {
    font-size: 15px !important;
    text-align: center;
    color: red;
  }

  .metabolisme h2 {
    font-size: 15px !important;
    text-align: center;
    color: red;
  }

  .metabolisme h2 {
    color: red !important;
  }
  .imc {
    padding-left: 15px;
  }

  .card {
    margin-bottom: 12px !important;
    padding-left: 8px !important;
  }
  .card .date {
    background: red;
    color: white;
  }
  
  .metabolisme,
  .historique,
  .imc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  form {
    width: 80%;
  }

  .pub {
    padding: 15px;
    background: red;
    width: 80%;
    margin: auto;
    color: white;
    border-radius: 10px;
    border: none;
  }
  .pub img {
    margin-block: 25px;
    width: 40px;
  }
}

@media (max-width: 700px) {
  footer {
    width: 100%;
  }
  .result {
    background: red;
    color: white;
    font-size: 30px;
    border-radius: 15px;
    padding: 15px;
    width: 80%;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
  }

  .result h2 {
    color: white;
  }
  .metabolisme h2 {
    color: red !important;
  }
  .historique h2 {
    color: red;
    font-size: 15px;
  }
  .picture {
    background-image: url("pictures/logo.png");
    height: 40vh;
  }

  .bloclogin {
    flex-direction: column-reverse;
    padding: 0 !important;
    margin: 0 !important;
    width: 100%;
  }

  .form {
    width: 100%;

    margin: 0 !important;
  }

  .container {
    margin: 0 !important;
    padding: 0 !important;
    max-width: none !important;
  }
  .inscription {
    width: 100%;
    align-items: center;
    padding-left: 0;
    padding-top: 0;
  }
  form {
    padding-top: 30px;
    width: 90%;
  }

  .renseignements form {
    width: 100%;
  }
  .form h2 {
    padding-top: 30px;
  }

  .account {
    flex-direction: column-reverse;
  }

  .account .left {
    width: 100%;

    padding-top: 20px;
  }

  .account .right {
    width: 100%;
    height: 200px;
  }
  .account .right img {
    object-fit: cover;
  }
}

@media (min-width: 701px) {
  .account .left h2 {
    color: white !important;
    font-size: 20px !important;
  }
  .account {
    font-size: 12px;
  }

  .sidenav {
    display: none;
  }
  .imgimc {
    width: 40%;
  }
  .imgimc img {
    width: 100%;
    height: 100%;
  }

  .renseignements {
    border-radius: 5px;
    width: 80%;
    margin: auto;
    display: flex;
    background: red;
    color: white;
    padding-inline: 15px;
    padding-block: 15px;
    font-size: 16px;
    margin-bottom: 20px;
  }
  .renseignements h3 {
    font-size: 20px;
  }
  .renseignements right {
    padding-left: 50px;
  }
  .navdesktop {
    width: 95%;
    font-size: 15px;
    margin-bottom: 15px;
  }
  .navdesktop ul {
    display: flex;
    justify-content: space-between;
  }
  .navdesktop ul li {
    list-style-type: none;
  }
  .navdesktop ul li a {
    text-decoration: none;
  }
  header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 11px;
    margin-bottom: 5px;
  }

  .renseignements .left {
    width: 50%;
  }

  .btnred {
    font-size: 10px;
    width: 130px;
  }
  .imgimc {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .imgimc img {
    width: 30%;
  }

  h2 {
    text-align: center;
    color: red;
    font-size: 15px !important;
    margin-block: 20px !important;
  }

  .imc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  form {
    width: 50%;
  }
  .form form {
    width: 80%;
  }

  .metabolisme {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .desk {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 20px;
    width: 50%;
  }
  .desk img {
    width: 100%;
    height: auto;
  }

  .pub {
    padding-inline: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: red;
    width: 50%;
    margin: auto;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 20px;
  }

  footer {
    width: 100%;
  }

  .historique {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .historique h2 {
    width: 100vw;
  }
  .card {
    margin-bottom: 12px !important;
    padding-left: 8px !important;
    width: 50% !important;
    margin-bottom: 10px;
    color: black !important;
  }
  .card .date {
    background: red;
    color: white;
  }

 
  .pub img {
    margin-block: 25px;
    width: 40px;
  }

  .result {
    background: red;
    font-size: 30px;
    border-radius: 15px;
    padding: 15px;
    width: 80%;
    margin: auto;
    text-align: center;
  }

  .result h2 {
    color: white !important;
    font-weight: bold;
  }
  .result p {
    color: white !important;
    font-weight: bold;
  }
  .modiform {
    border: white 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .modiform form {
    width: 80%;
  }
}
